*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
:root{
	--space: 18px;
	--litle-space: 6px;
}
html,body{
	display: flex;
	flex-direction: column;
	height: 100%;
}
h2{
	text-align: center;
	margin: var(--space);
}
img.small{
	width: 120px;
	height: 120px;
	object-fit: contain;
}
table.table{
	border: 1px solid #CCC;
	width: 100%;
	border-spacing: 0em;
	margin: var(--space) 0;
}
table.table td{
	padding: 4px 12px;
	
}
table.table tbody tr:nth-child(odd){
	background-color: #fFEEfF;
}
table.table tbody td{
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;;
}
table.table tbody td:first-child{
	border-left: 0px solid #CCC;
}
table.table thead,table.table thead tr,
table.table tfoot,table.table thead tfoot{
	background: #333;
	color: #FFF;


}

header,footer{
	background-color: #000;
	color: #FFF;
	padding: var(--space);
	text-align: center;
}
footer{
	margin-top: auto;
}
nav ul{
	display: flex;
	width: 100%;
	list-style: none;
}
nav a{
	text-decoration: 0;
}
nav ul li{
	margin-right: var(--space);
	padding-right: var(--space);
	position: relative;

}
nav ul li:hover ul{
	display: block;
}
nav > ul > li > ul{
	position: absolute;
	top: 100%;
	background-color: #000;
	width: 100%;
	padding: var(--space);
}
nav > ul > li > ul li{
	border-bottom: 1px solid #888;
	margin-bottom: var(--litle-space);
}
nav ul li a{
	color: #FFF;
	position: relative;

}
nav ul ul{
	display: none;
}
.container{
	width: calc(100% - 60px);
	max-width: 1100px;
	margin: 0 auto;

}
.btn{
	display: inline-block;
	background-color: #990099;
	color: #FFF;
	border: 0;
	padding: var(--litle-space);
	margin: var(--space) 0;
	filter: brightness(0.7);
	cursor: pointer;
	transition: ease all 0.3s;
	font-size: 16px;
}
.btn:hover{
	filter: brightness(1);
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.product{
	width: calc(50% - 20px);
	background-color: #000;
	color: #FFF;
	margin: 10px;
	border-radius: var(--space);
}
.product a{
	color: #FFF;
	text-decoration: none;
	font-size: 22px;
}
.product > div{
	padding: var(--litle-space) var(--space) ;
}
.product div.photo{
	padding: 0;
}
.product .photo img{
	border-radius: var(--space) var(--space) 0 0 ;
	width: 100%;
	height: 30vh;
	object-fit: cover;

	
}
.view{
	margin: var(--space) 0;
}
.view .photo{
	width: calc(50% - 20px);

}
.view .photo img{
	width: 100%;
	height: auto;
	object-fit: cover;

}
.view .info{
	padding: 0 var(--space);
}
.view input{
	padding: var(--litle-space);
}
#store{
	margin: var(--space) 0;
}
.viewMore .btn{


}
#removeItem,
#addItem{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: var(--space);
	height: var(--space);
	border-radius: var(--space);
}
.alert{
	padding: var(--space);
	background-color: #DDD;
	color: #666;

}
.alert a{ 
	color:#333; 
	font-weight: bolder;
}
.form label{
	display: block;
	margin: var(--space) 0;
}
.form label span{
	display: block;
}
.form label input,.form label textarea, .form label select{
	width:100%;
	padding: var(--litle-space);
	border-radius: var(--litle-space);
}
.form label select{
	width: auto;
}
.form .thumb{
	width: 160px;
	height: auto];
}
.session{
	margin: var(--space);
}
@media (max-width: 1024px){
	.product{
		width: 100%;
	}
}
