<section class="section">
	<div class="container">
<h2>Add Type </h2>
<form action="/Types/AddingType" method="post" class="form">
<label>
<span class="name required">Name</span>
<input type="text" name="name" required />
</label>
<label>
<span class="name required">Tax (%)</span>
<input type="number" step="0.01" name="tax" required />

</label>
<button class="btn ">Register</button>
</form>
</div>
</section>