<header>
	<h1>Expert Shop</h1>
	<nav>
		<ul>
			<li>
				<a href="/">Store</a>
			</li>
			<li>
				<a href="/StoreSystem">StoreSystem</a>
				<ul>
					<li><a href="/StoreSystem">Products</a></li>
					<li><a href="/Types">Types</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>

